*{
	margin: 0;
	padding: 0;
}

/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/


a{
	text-decoration: none;
}

.container{
	width: 1140px;
	margin: 0 auto;
}
header{
	width: 100%;
	position: absolute;

}
.nav{

	width: 100%;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
}
.logo{
	
}
.logo img{

}
.menu{
	text-align: right;
}
.top-contact img{
	vertical-align: middle;

}
.top-contact span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #3d2514;
	margin-left: 15px;
}
.menu-item{
	margin-top: 15px;
}
.menu-item ul li{
	list-style: none;
	display: inline-block;
}
.menu-item ul li a{
	text-transform: uppercase;
	margin-left: 26px;
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	color: #3d2514;
	font-size: 21px;
	letter-spacing: 2px;
}



/*------------------------------
banner css start
-------------------------------*/
.banner{
	position: ;
	width: 100%;
	background: url(../img/header-background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
}
.content{
	vertical-align: middle;
    display: table-cell;
    height: 100vh;
}
.content span{
	font-family: 'Bebas Neue', cursive;
	font-size: 27px;
	border: 3px dashed #3d2514;
	color: #3d2514;
	padding: 4px;
}
.content h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 114px;
	color: #3d2514;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 4PX 4PX white;
	letter-spacing: 3px;

}

.content h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	color: #3d2514;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 3PX 3PX white;
	letter-spacing: 3px;
}


/*------------------------------
burgers gallery css start
-------------------------------*/

.burgers{
	width: 100%;
}
.gallery{
	display: flex;
}
.gallery img{
	max-width: 100%;
}
.g-left{
	flex-basis: 50%;
	margin: 20px;
	
}
.g-right{
	flex-basis: 50%;
	margin: 20px;
}
.item{
	position: relative;
	
}
.item-text{
	position: absolute;
}